@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap')

body <background-color: #131313>
    h1{color: white;}

*{font-family: 'Fjalla One', sans-serif;}

.media-picture {
 height: 400px;   
 background-image: url("../img/371944888-snowpiercer.jpg");
background-size: cover;
background-position: center;}


.review-score {color: white;}
.review-score {background-color: #e6bd09;}
.review-score {padding: 12px;}

h2{color: steelblue;}
p{color: #bdbdbd;}
p{font-family: 'Fjalla One', sans-serif;}
a{color: yellow;}

 
